.signup form {
    display: flex;
    gap: 10px;
}

.signup input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.signup button {
    padding: 10px 15px;
    background-color: #ffb36c;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}