.footer {
    background-color: #FFB36C;
    padding: 30px 0;
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    width: 90px;
    height: 62px;
    margin-right: 0;
}

.footer-logo-text {
    font-size: 24px;
    font-weight: 700;
}

.footer-title {
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.footer-address {
    margin-right: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.footer-socials {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.social-icon.instagram {
    background-image: url('../../../img/instagram.png');
}

.social-icon.facebook {
    background-image: url('../../../img/facebook.png');
}

.social-icon.whatsapp {
    background-image: url('../../../img/whatsapp.png');
}

@media screen and (min-width: 634px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .footer-logo-wrapper {
        flex-direction: row;
    }

    .footer-logo {
        margin-right: 10px;
    }

    .footer-address {
        margin-right: 30px;
    }
}