.footer {
    background-color: #FFB36C;
    padding: 30px 0 64px 0;
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.footer-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    width: 90px;
    height: 62px;
    margin-right: 103px;
}

.footer-logo-text {
    font-size: 24px;
    font-weight: 700;
}

.footer-title {
    margin-bottom: 10px;
    font-family: Montserrat Alternates;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
}

.footer-address {
    margin-right: 103px;
    font-family: Montserrat Alternates;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
}

.footer-socials {
    display: flex;
    gap: 20px;
}

.social-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.social-icon.instagram {
    background-image: url('../../../img/instagram.png');
}

.social-icon.facebook {
    background-image: url('../../../img/facebook.png');
}

.social-icon.whatsapp {
    background-image: url('../../../img/whatsapp.png');
}