.weather-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 40px;
    padding: 20px;
    list-style: none;
    justify-items: center;
}

.weather-item,
.weather-item-invalid {
    background: #EAEAEA;
    border-radius: 20px;
    padding: 15px 20px 20px 20px;
    text-align: center;
    width: 320px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    position: relative;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.weather-header {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 260px;
    color: #000;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.weather-time {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
}

.weather-forecast-btn {
    background: #FFB36C;
    border: none;
    width: 114px;
    height: 28px;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-left: 18px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
    transition: background 0.3s;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 10px;
}

.weather-date {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: #000;
    margin-bottom: 22px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
}

.separator {
    color: #000;
    font-weight: 300;
}

.weather-icon-main {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}

.weather-temp-display {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
}

.weather-footer-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.see-more-action {
    background: #FFB36C;
    border: none;
    padding: 8px 25px;
    cursor: pointer;
    color: #000;
    width: 99px;
    height: 28px;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 25px;
    padding-bottom: 8px;
    padding-left: 25px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 10px;
}

.weather-footer-actions button:not(.see-more-action) {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.weather-footer-actions img,
.weather-footer-actions svg {
    width: 28px;
    height: 28px;
}

.weather-item-invalid {
    background: #f8d7da;
}

.pieces-container {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    pointer-events: none;
    z-index: 10;
}

.piece {
    background: #d1d1d1;
    border-radius: 4px;
    animation: fadeOut 0.8s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}