.weather-list {
    display: grid;
    grid-template-columns: 1fr;
    /* Мобільний: 1 колонка */
    gap: 20px;
    padding: 10px;
    list-style: none;
    justify-items: center;
    margin-bottom: 40px;
}

.weather-item,
.weather-item-invalid {
    background: #EAEAEA;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    width: 100%;
    /* На всю ширину контейнера */
    max-width: 320px;
    /* Макс ширина */
    height: 400px;
    /* Трохи зменшив висоту для мобільних */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    position: relative;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.weather-header {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
    margin-bottom: 10px;
}

.weather-time {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    /* Менший шрифт */
    margin-bottom: 5px;
    color: #000;
}

.weather-forecast-btn {
    background: #FFB36C;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    color: #000;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 500;
}

.weather-date {
    font-size: 12px;
    color: #000;
    margin-bottom: 15px;
    font-family: Montserrat;
    font-weight: 500;
}

.weather-icon-main {
    width: 80px;
    /* Менша іконка */
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.weather-temp-display {
    font-size: 30px;
    /* Менший шрифт */
    font-weight: 500;
    margin-bottom: auto;
    color: #000;
    font-family: Montserrat;
}

.weather-footer-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.see-more-action {
    background: #FFB36C;
    border: none;
    cursor: pointer;
    color: #000;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
}

/* Tablet & Desktop */
@media screen and (min-width: 634px) {
    .weather-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .weather-list {
        grid-template-columns: repeat(3, 1fr);
    }
}