.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header-logo {
    margin-right: 111px;
    width: 82px;
    height: 56px;
}

.Header-list {
    display: flex;
    flex-direction: row;
    gap: 42px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header-page-button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.Header-sign-up-button {
    margin-left: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    width: 89px;
    height: 35px;
    padding: 0;
    border-radius: 10px;
    background-color: #FFB36C;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-user-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}

.Header-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Header-user-name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #333;
}

.Header-user-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}