.pets-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.pets-title {
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 40px;
    margin-left: 0px;
    text-align: center;
    width: 253px;
}

.pets-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 270px;
}

.pet-image {
    width: 270px;
    height: 208px;
    object-fit: cover;
    border-radius: 10px;
}

.pet-news {
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.pets-btn {
    width: 138px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #FFB36C;
    color: black;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: 0px;
    margin-top: 40px;
}