.forecast-container {
    margin-bottom: 40px;
    padding: 0 15px;
}

.forecast-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.forecast-tabs button {
    padding: 6px 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: #d9d9d9;
    font-size: 12px;
}

.forecast-tabs button.active {
    background: #FFB36C;
    color: white;
}

.more-btn,
.forecast-mode-btn {
    background: #FFB36C;
    border: none;
    padding: 6px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
}

@media screen and (min-width: 634px) {
    .forecast-tabs {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}