/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    background: none;
    color: inherit;
}

body,
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
textarea,
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
    background: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: none;
}

hr {
    height: 0;
    border: 0;
}

/* container */

.container {
    padding: 0 15px;
    margin: 0 auto;
    /* outline: solid 1px red; */

    @media screen and (min-width: 293px) {
        width: 293px;
    }

    @media screen and (min-width: 634px) {
        width: 634px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}